* {
    font-size: small;
}

#cartItem {
    display: flex;
    margin: 1rem;
    border-bottom: 0.05rem solid lightgrey;
    justify-content: space-between;
    padding: 0.5rem;
}
#cartItemImage {
    padding: 3rem;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

#removeButton {
    color: orangered;
    width: fit-content;
    font-weight: bold;
    font-size: 0.8rem;
    cursor: pointer;
    align-items: flex-end;
    padding: 0.4rem 0.2rem 0.4rem 0;
    border-radius: 0.2rem;
}

#removeButton:hover {
    background-color: lightgray;

}

#qtyButton {
    font-size: 0.7rem;
    width: fit-content;
    text-align: center;
    cursor: pointer;
}
