﻿
a {
    text-decoration: none;
}

a:hover .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: box-shadow 0.3s ease-in-out;
    
}

.card {
    transition: box-shadow 0.3s ease-in-out;
    overflow: hidden;
    color: black;
    font-size: 1rem;
}

a:hover .book-image {
    transform: scale(1.07);
    transition: 0.5s ease-in-out;
}

.book-image {
    padding: 50%;
    margin: auto;
    /*align-self: center;*/
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: 0.5s ease-in-out;
}
