@inject ICartHttpRepo CartRepo
@implements IDisposable 

<span><a href="/cart"><FeatherShoppingCart Color="orange"/>@cartItemCount</a></span>

@code {
    private int cartItemCount = 0;

    protected override void OnInitialized()
    {
        CartRepo.OnCartChanged += CartChanged;
    }

    protected void CartChanged(int totalQuantity)
    {
        cartItemCount = totalQuantity;
        StateHasChanged();
    }

    void IDisposable.Dispose()
    {
        CartRepo.OnCartChanged -= CartChanged;
    }
}
